body{
    min-width: 1100px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button{
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 95px;
}
.menu-left-button{
    width: 400px;
    background-color: white;
    color: #548CFF;
    font-size: larger;
    font-weight: bolder;
}
.menu-right{
    display: flex;
    justify-content: space-around;
    width: 62%;
    height: 100%;
    align-items: center;
}
.menu-right-button{
    background-color: white;
    color: darkgrey;
    font-size: medium;
    font-weight: 550;
}
.menu-right-button-blue{
    background-color: #548CFF;
    color: white;
    width: 15%;
    height: 60%;
    font-size: medium;
    font-weight: bold;
    box-shadow: 3px 3px 10px lightgrey;
}
.page1{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    min-width: 1000px;
    min-height: 900px;
}
.page1-text{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2E4C6D;
    width: 50%;
    height: 100%;
    background-image: url("fondoPage1text.png");
    z-index: -1;

}
.page1-title{
    width:50%;
    height: 20%;
    font-family: Calibri;
    font-size: 7vh;
    font-weight: bold;
    color: #2E4C6D;
    margin-bottom: 30px;
}
.p{
    font-size: x-large;
    color: darkgrey;
    font-weight: 450;
    width: 50%;
    margin-bottom: 50px;
}
.page1-vignettes{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    vertical-align: center;
    margin-bottom: 115px;
}
.page1-vignettes-img{
    height: 20px;
    margin-right: 10px;
}
.page1-vignettes-p{
    color: #2E4C6D;
    font-weight: 500;
    font-size: large;
    margin-right: 20px;
}
.page1-vignettes2-img{
    height: 25px;
    margin-right: 20px;
}
.page1-vignettes2-p{
    color: #2E4C6D;
    font-weight: 500;
    font-size: x-large;
}
.page1-right{
    width: 50%;
    height: 100%;
    z-index: -1;
}
.page1-img{
    width: 100%;
    min-width: 600px;
    height: 100%;
}
.page1-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    min-height: 65px;
    min-width: 800px;
    width: 55vw;
    margin-top: -20vh;
    margin-left: 12vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 60px lightgrey;
}
.form-column{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
}
.form-column-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: center;
}
.form-column-img{
    height: 16px;
    margin-right: 8px;
}
.form-title{
    color: darkgrey;
    font-size: large;
    font-weight: 500;
}
.form-p{
    margin-top: 10px;
    margin-left: 22px;
    color: #2E4C6D;
    font-size: x-large;
    font-weight: bold;
}
.form-submit{
    width: 150px;
    height: 50px;
    background-color: #548CFF;
    color: white;
    font-weight: bold;
    font-size: large;
    box-shadow: 3px 3px 10px lightgrey;
}